
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
  --font1 : "Libre Baskerville", serif;
  --font2 : "Montserrat", sans-serif;
}

body{
  font-family: var(--font2);
  font-weight: 600;
}

label{
  font-family: var(--font1);
  font-weight: 900;
}

